* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body::-webkit-scrollbar {
    display: none;
}

@font-face {  
    font-family: 'DM-Serif-Display';  
    src: url('../temp/fonts/dm-serif-display/DMSerifDisplay-Regular.ttf') format('truetype');
}  

@font-face {  
    font-family: 'Jost';  
    src: url('../temp/fonts/jost/static/Jost-Regular.ttf') format('truetype');
}

.name-logo {
    font-family: 'DM-Serif-Display', sans-serif;
    font-size: 40px;
    font-weight: 400;
    line-height: 125%;
    vertical-align: middle;
    color: #292F36;
}

.navigation-button {
    border: none;
    background-color: rgba(0, 0, 255, 0);
}

.logo-navigation {
    display: flex;
    margin: 45px auto;
    max-width: 1200px;
    justify-content: space-between;
    align-items: center;
}

.logo {
    display: flex;
    align-items: center;
    gap: 10px;
}

.navigation-head {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 45px;
}

.nav-link {
    font-family: 'Jost', sans-serif;
    text-decoration: none;
    font-size: 20px;
    font-weight: 400;
    transition: color 0.3s ease;
    color: #292F36;
} 

.nav-link:hover {
  color: #CDA274;
}

.img-search {
    height: 21px;
    width: 21px;   
}

.name {
    position: relative;
    height: 356px;
}

.background-container {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 1; 
}

.background {
    width: 100%;    
    height: 100%;   
    object-fit: cover; 
    object-position: center; 
}

.head-section {
    position: absolute;
    bottom: 0; 
    left: 50%; 
    transform: translateX(-50%); 
    z-index: 2;
    display: inline-flex; 
    flex-direction: column;
    align-items: center; 
    text-align: center; 
    background-color: #FFFFFF;
    border-top-left-radius: 37px;
    border-top-right-radius: 37px;
    padding: 41px 158px; 
}

.description {
    font-family: 'Jost', sans-serif;
    font-size: 22px;
    font-weight: 400;
    line-height: 150%;
    color: #4D5053;
    transition: color 0.3s ease;
    background-color: rgba(0, 0, 255, 0);;
}

.section-name {
    font-family: 'DM-Serif-Display', sans-serif;
    font-size: 50px;
    font-weight: 400;
    line-height: 125%;
    color: #363B41;
    max-width: 640px;
}

.accordion-name {
    display: flex;
    justify-content: center;
    margin: 150px auto 50px;
    font-weight: normal;
    font-family: 'DM-Serif-Display', sans-serif;
    font-size: 50px;
    color: #292F36; 
}

.accordion-image {
    max-width: 555px;
    width: 100%;
    height: 678px;
    object-fit: cover;
    border-radius: 20px;
}

main {
    margin-bottom: 200px;
}

.accordion-container {
    display: flex;
    flex-direction: column;
    width: 585px;
}

.accordion {
    display: flex;
    justify-content: center; /* Выравнивание по горизонтали */
    width: 1200px;
    margin: 0 auto;
    gap: 60px;
}

.accordion-item {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
    border-bottom: 1px solid #CDA274;
    padding-bottom: 32px;
}

.accordion-header {
    display: flex;
    justify-content: space-between;
    width: 100%;
    cursor: pointer;
}

.accordion-qwe {
    font-family: 'DM-Serif-Display', sans-serif;
    font-size: 25px;
    color: #292F36;
    transition: color 0.3s ease;
}

.arr {
    background: none;
    border: none;
    padding: 0;
    margin: 0;
    outline: none;
    cursor: pointer;
    transition: transform 0.3s ease;
}

.arr:hover {
    transform: scale(1.1);
}

.accordion-content {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease-out;
}

.accordion-content .acc-description {
    font-family: 'Jost', sans-serif;
    font-size: 22px;
    line-height: 150%;
    color: #4D5053;
    padding-top: 20px;
}











.media {
    max-width: 400px;
}

.img-logo-2 {
    height: 34px;
    width: 34px;
}

.name-logo-2 {
   font-family: 'DM-Serif-Display', sans-serif; 
   font-size: 40px;
   font-weight: 400;
   color: #292F36; 
}

.logo-2 {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 18px;
}

.social-media{
    display: flex;
    align-items: center;
    gap: 54px;
    margin-top: 31px;
}

.section {
    font-weight: normal;
    font-family: 'DM-Serif-Display', sans-serif; 
    font-size: 25px;
    font-weight: 400;
    color: #292F36;
}

.page-1{
    display: inline-flex;
    flex-direction: column;
    max-width: 200px;
    gap: 26px;
}

footer {
    /* margin: 200px auto 134px;
    max-width: 1200px; */
    width: 100%;
    display: flex;
    
}

.description-link:hover {
  color: #CDA274;
}

.footer-content {
    display: flex;
    flex-direction: row;
    gap: 101px;
    margin: 0 auto;
    margin-bottom: 134px;
}